# wifiwakeupsrc daemon
type wifiwakeupsrc, domain, domain_deprecated;
type wifiwakeupsrc_exec, exec_type, file_type;

# Started by init
init_daemon_domain(wifiwakeupsrc)
